@font-face {
    font-family: 'RussoOne';
    src: url(../font/Russo_One/RussoOne-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter/Inter-Regular.ttf);
    font-weight: 400;
}